# Non-pinned top-level dependencies to set up a dev environment for ownAI

# "Must-have" dependencies (see setup.py -> install_requires)
flask
flask-socketio
langchain

# If you want to use knowledge
chromadb
sentence_transformers

# Document loaders for knowledge
docx2txt
pypdf

# Only needed if you want to use these services
huggingface_hub

# Dev-Dependencies
-e .
python-dotenv
pylint
pytest
coverage
black
