# Non-pinned top-level dependencies to set up an environment for ownAI

# Required dependencies (see setup.py -> install_requires)
flask
flask-socketio
Flask-SQLAlchemy
Flask-Migrate
langchain

# Required if you want to use knowledge
chromadb
sentence_transformers

# Optional document loaders for knowledge
# (you only need the packages for the file formats you want to use)
docx2txt
pypdf

# Optional packages to run LLMs or connect to LLM providers
# (you only need the packages for LLMs or services you want to use)
aleph_alpha_client
banana-dev
beam-sdk
boto3 # for AWS / SageMaker
cohere
ctransformers --no-binary ctransformers
google-cloud-aiplatform # for VertexAI
google-generativeai
gpt4all
huggingface_hub
llama-cpp-python
nlpcloud
openai
petals
replicate
rwkv
text_generation # for HuggingFaceTextGenInference
transformers # for HuggingFacePipeline

# Optional dependencies for development
-e .
python-dotenv
pylint
pytest
coverage
black
build
twine
pipdeptree

# Optional dependencies to run as a production server
gunicorn
gevent
gevent-websocket
gipc
