{% extends 'base.html' %}

{% block title %}
  Change Password
{% endblock %}

{% block main %}
  <form
    method="post"
    class="d-flex flex-column gap-3 mx-auto col-sm-9 col-md-6"
  >
    <h3>Change your password</h3>
    <div>
      <label for="current-password" class="form-label">Current password</label>
      <input
        type="password"
        name="current-password"
        id="current-password"
        class="form-control"
        required
      />
    </div>
    <div>
      <label for="new-password" class="form-label">New password</label>
      <input
        type="password"
        name="new-password"
        id="new-password"
        class="form-control"
        required
      />
    </div>
    <div>
      <label for="new-password-confirmation" class="form-label"
        >Confirm new password</label
      >
      <input
        type="password"
        name="new-password-confirmation"
        id="new-password-confirmation"
        class="form-control"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
{% endblock %}
